/**********************************/
/********** General CSS ***********/
/**********************************/
body {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #353aca;
}

a {
    color: #FF6F61;
    transition: 0.5s;
}

a:hover, a:active, a:focus {
    color: #ffffff;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 15px 0;
    color: #ffffff;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0 0 15px 0;
    padding: 0;
    color: #ffffff;
    font-weight: 600;
}

h4,h5,h6 {
    font-weight: 400;
}

.wrapper{
    max-width: 960 px;
    margin: 0 auto;
}
