 {% extends 'base.html' %}
    {% block content %}
        <h1>In Today's News</h1>

            <div class="articles">

                {% for article in articles %}
                    <div class="article">
                        <h2><a href="{% url 'articles:detail' slug=article.slug %}">{{ article.article_title }}</a></h2>
                        <p>{{ article.article_text }}</p>
                        <p>{{ article.date_published }}</p>
                        <p>{{ article.author }}</p>
                    
                    </div> 



                {% endfor %}
            </div>

   {% endblock %}